@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Mooli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Titillium+Web&display=swap');

body {
    background-color: #FAF1E4;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Mooli', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: #CEDEBD;
    color: white;
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 70px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    min-height: 65vh;
    background-color: #9EB384;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    width: 70%;
    margin: 20px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url(./covers/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bottom {
    position: sticky;
    height: 89px;
    background-color: #9EB384;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Mooli', sans-serif;
}

.icons {
    margin-top: 16px;
}

.icons i {
    cursor: pointer;
}

/* Style for the current duration (left) */
#songTimer {
    position: absolute;
    left: 110px;
    bottom: 65px;
    display: inline-block;
}

/* Style for the total duration (right) */
#songDuration {
    position: absolute;
    right: 110px;
    bottom: 65px;
    display: inline-block;
}

#progressBar {
    width: 80vw;
    text-align: center;
    cursor: pointer;
    height: 10px;
    background-color: #ccc;
    border-radius: 5px;
}

.songItemContainer {
    margin-top: 42px;
}

.songItem {
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img {
    width: 40px;
    margin: 0 23px;
    border-radius: 35px;
}

.timeStamp {
    margin: 0 20px;
}

.timeStamp i {
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 10vw;
    font-family: 'Mooli', sans-serif;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    body {
        background-color: lightblue;
    }

    nav ul {
        height: auto;
        flex-direction: column;
    }

    nav ul li {
        padding: 8px 12px;
    }

    .container {
        width: 85%;
        margin: 10px auto;
        padding: 20px;
    }

    .bottom {
        height: 110px;
        padding: 10px;
        justify-content: flex-start;
        bottom: 0;
    }

    .songInfo {
        bottom: 15px;
        left: 105px;
    }

    .songItem {
        font-size: 0.8rem;
    }

    #songTimer{
        left: 76px;
    }

    #songDuration{
        right: 76px;
    }

    .songInfo img{
        left: 76px;
        bottom: 15px;
    }
}
